@import 'nib'

:local(.container)
	width 100%
	max-width 300px
	height auto
	min-height 300px
	background-color #fff
	margin 20px auto
	border-radius 2px
	box-shadow 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12)
	
:local(.list)
	list-style none
	padding 0
	margin 0
	
:local(.input)
	margin 20px
	width calc(100% - 40px)

